body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  margin: 20px;
}

.split{
  height: 4px;
}

.key{
  display: inline-block;
}

.right{
  margin-top: -10px;
  float: right;
}

#keyImg{
  width: 100%;
  height: 400px;
}
