<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <% if(success){ %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= success %>
    </div>
    <% }else if(error){ %>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= error %>
      </div>
      <% } %>
</nav>
      </body>

      </html>