<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/jquery/dist/jquery.min.js"></script>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="col-xs-3">
      <ul class="nav nav-tabs nav-justified" role="navigation">
        <% if(title === '关键词'){ %>
        <li role="presentation"><a href="/">主页</a></li>
        <li role="presentation" class="active"><a>关键词</a></li>
        <% }else{ %>
        <li role="presentation" class="active"><a>主页</a></li>
        <li role="presentation"><a href="/key">关键词</a></li>
        <% } %>
      </ul>
    </div>
  </div>