<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/jquery/dist/jquery.min.js"></script>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default col-xs-3" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand active" href="/">主页</a>
        <a class="navbar-brand" href="/key">关键词</a>
      </div>
    </nav>
    <nav class="navbar navbar-default navbar-right col-xs-2" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <% if(user){ %>
        <li><a><span class="glyphicon glyphicon-user"></span><%= user.name %></a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
        <% }else{ %>
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span>注册</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
        <% } %>
      </ul>
    </nav>
  </div>