<%- include header %>

  <div class="container">

    <% if (msg.suc){ %>
      <div class="alert alert-success" role="alert">
        <%= msg.suc %>
      </div>
      <% } %>
        <% if (msg.err){ %>
          <div class="alert alert-danger" role="alert">
            <%= msg.err %>
          </div>
          <% } %>

            <div class="row col-xs-6">
              <h3><strong>添加关键词</strong></h3>
              <div class="form-group">
                <span></span>
              </div>

              <form class="form-horizontal" method="POST" action="/key/insert">
                <div class="form-group">
                  <input type="text" name="title" class="form-control" placeholder="请输入需求名称" />
                </div>
                <div class="form-group">
                  <label class="radio-inline">
                    <label><input type="radio" name="tn" value="newsdy" checked />全文</label>
                  </label>
                  <label class="radio-inline">
                    <label><input type="radio" name="tn" value="newstitledy" />标题</label>
                  </label>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon">起始时间</span>
                    <input type="date" name="date" class="form-control" aria-describedby="sizing-addon">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="q1" class="form-control" placeholder="全部同时包含的关键词" />
                </div>
                <div class="form-group">
                  <input type="text" name="q3" class="form-control" placeholder="任意一个包含的关键词" />
                </div>
                <div class="form-group">
                  <input type="text" name="q4" class="form-control" placeholder="任意一个不包含的关键词" />
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default navbar-btn">添加</button>
                </div>
              </form>
            </div>
  </div>

  <div class="container">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">关键词添加方法</h3>
      </div>
      <div class="panel-body">
        <strong>1.需求名称</strong>
        <p>方便的查找的标识名称，可以和其他需求名称重复。</p>
        <strong>2.关键词位置</strong>
        <p>选择关键词在新闻中匹配的位置，全文匹配还是仅匹配标题，默认是全文匹配。</p>
        <strong>3.起始时间</strong>
        <p>选择新闻监测的起始时间（包含），默认是添加的当天。</p>
        <strong>4.包含全部的关键词</strong>
        <p>新闻中必须包含输入框中全部的关键词就匹配到。词与词之间通过空格分割。</p>
        <strong>5.包含任意一个关键词</strong>
        <p>新闻中只要包含输入框中任意一个的关键词就匹配到。词与词之间通过空格分割。</p>
        <strong>6.查询不包含任意一个关键词</strong>
        <p>新闻中只要包含输入框中任意一个的关键词就排除掉。词与词之间通过空格分割。</p>
      </div>
    </div>
  </div>

  <script src="/javascripts/key.js"></script>

  <%- include footer %>