<%- include header %>

  <div class="container">
    <div class="row col-xs-6">
      <form class="form-horizontal" method="POST" action="/key/insert">
        <strong>添加关键词</strong>
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="请输入关键词">
          <button type="submit" class="btn btn-default navbar-btn">添加</button>
        </div>
      </form>
    </div>
  </div>

  <%- include footer %>