<%- include header %>

  <div class="container">
    <div class="row col-xs-4">
      <form class="form-horizontal" method="POST" action="/user/register">
        <div class="form-group">
          <label for="name" class="col-xs-6">用户名</label>
          <input type="text" name="name" class="form-control" placeholder="请输入姓名">
          <label for="name" class="col-xs-6">密码</label>
          <input type="text" name="pass" class="form-control" placeholder="请输入密码">
          <label for="name" class="col-xs-6">确认密码</label>
          <input type="text" name="conf" class="form-control" placeholder="请确认密码">
          <button type="submit" class="btn btn-default navbar-btn">注册</button>
        </div>
      </form>
    </div>
  </div>

  <%- include footer %>